#grafiti-container
  .container
    #grafiti-top 
    #grafiti-middle
    #grafiti-bottom

    #base-logo-container.row
      .col-md-6
        = image_tag 'the_base_logo.jpg', id: 'base-logo'
      .col-md-6.info-text
        %h1 
          URBAN FUTSAL 
          %br
          SPORT LOUNGE 
          %br
          ART + MUSIC 
          %br
          RETAIL 
          %br
          FOOD + BEVERAGE
    #info-container.row
      .col-md-6.info-text
        %p.header THE CONTAINER YARD
        %p.address
          %br
          800 E 4TH ST, <span class="second-line">LOS ANGELES, CA 90013</span>
          %br
          MON - THURS
          %br
          <span class="info-time">12PM - 7PM   OPEN PLAY</span>
          %br
          <span class="info-time">7PM - 10PM   PICKUP GAMES (RSVP required)</span>
          %br
          SATURDAY
          %br
          <span class="info-time">12PM - 10PM OPEN PLAY</span>
      .col-md-3
        = link_to 'https://turfmapp.com/facility/AdidasLeague#/' do
          .base-button{class: 'btn-large btn-primary'}
            %p RSVP FOR PICKUP

      .col-md-3
        = link_to 'http://urbanpitch.com/adidas-launches-the-base-la/' do 
          .base-button{class: 'btn-large btn-primary'}
            %p MORE INFO
        
    #website-info-container
      #seperator
    #logo-container.row
      %br
      .col-md-3
        = link_to((image_tag 'logo_adidas.jpg'), 'http://www.adidas.com')
      .col-md-3
        = link_to((image_tag 'logo_nikys_sport.jpg'), 'http://www.nikys-sports.com')
      .col-md-3
        = link_to((image_tag 'logo_container_yard.png', style: 'width: 60%'), 'http://www.thecontaineryard.com')
      .col-md-3
        = link_to((image_tag 'logo_urbanfutsal.jpg', style: 'width: 100%;'), 'http://www.urbanfutsal.la')
